<h1>
  <span class="fas fa-sign-in-alt"></span> Register
</h1>
<br>
<p>
  To register, please type in your username, e-mail and password. <br>
  Note that the password needs to be at least 6 charachters long.
</p>

<form method="post" action="/register">
  <div class="form-group">
    <br>
    <input type="text" class="form-control" name="username" placeholder="Enter your Username here.." required="required" maxlength="20" autofocus="autofocus" />
    <br>
    <input type="password" class="form-control" name="password" placeholder="Enter your Password here min 6 chars.." minlength="6" required="required" />
     <br>
    <input type="email" class="form-control" name="email" placeholder="Enter your Email here.." required="required" />
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Register</button>
</form>