<footer class="footer">
  <div class="container">
    <p class="text-muted">Niklas Nilsson <a href="https://coursepress.lnu.se/kurs/serverbaserad-webbprogrammering/" target="_blank">serverbaserad-webbprogrammering</a>.</p>
  </div>
</footer>