<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Snippy Snippets</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/todo/">Snippets</a>
        </li>
        {{#unless username.length}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        {{/unless}}
      {{#if username.length}}
       <li class="nav-item">
          <a class="nav-link" href="/todo/create">Create</a>
        </li>
        <li class="nav-item">
          <form method="post" action="/logout">
            <button type="submit" class="nav-link logout-btn">Logout</button>
          </form>
        </li>
    <div class="navbar-brand"> Logged in as {{username}}</div>
    {{/if}}
      </ul>
    </div>
  </nav>
</header>