<h1>
  <span class="fas fa-sign-in-alt"></span> Login
</h1>

<form method="post" action="/login">
  <div class="form-group">
    <br>
    <input type="text" class="form-control" name="username" placeholder="Enter your username here.." required="required" maxlength="20" autofocus="autofocus" />
    <br>
    <input type="password" class="form-control" name="password" placeholder="Enter your password here.." minlength="6" required="required" />
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Login</button>
</form>