<h1>
  <span class="far fa-edit"></span> Login
</h1>

<form method="post" action="/login/login">
  <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="Enter your username here.." required="required" autofocus="autofocus" />
    <input type="text" class="form-control" name="password" placeholder="Enter your password here.." required="required" />
  </div>
  <button type="submit" class="btn btn-lg btn-primary">Update</button>
</form>