extends layout.pug

block content
  h1
    span.far.fa-plus-square
    |  Create
  form(method='post', action='/hello')
    .form-group
      input.form-control(type='text', name='username', placeholder='Enter a new to-do description here', required='required', autofocus='autofocus')
    button.btn.btn-lg.btn-primary(type='submit') Save